@import "tailwindcss";

:root {
  --background: #0e100f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

html {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

.max-w-default {
  @apply max-w-[900px];
}

.section {
  @apply mt-20 max-w-[900px] w-full scroll-mt-32;
}

.spotify-image {
  animation: rotate 20s linear infinite;
}

.animate-opacityPulse {
  animation: opacityPulse 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacityPulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
