@import "tailwindcss";

:root {
  --background: #0e100f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

html {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

.max-w-default {
  @apply max-w-[900px];
}
